#root {
  max-width: 750px;
  min-width: 750px;
  height: 100%;
  margin: 0 auto;
  background-image: url("../src/assets/backgroundImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}
