@import "tailwindcss";

html,
body {
  height: 100vh;
}

@theme {
  --color-main1: #f05d2f;
  --color-main2: #98b9ff;
  --color-secondary1: #f4d570;
  --color-text: #222222;
  --color-text-white: #ffffff;

  --color-success: #8ff470;
  --color-warning: #f49370;
  --color-danger: #f4708f;

  --text-heading1: 24px;
  --text-heading2: 22px;
  --text-heading3: 20px;
  --text-heading4: 18px;
  --text-body1: 14px;
  --text-body2: 14px;
  --text-detail1: 12px;
  --text-detail2: 12px;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/Pretendard-Regular.woff") format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Pretendard-Bold.woff") format("opentype");
}

@layer base {
  :root {
    font-family: "Pretendard", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji", "Apple Color Emoji", ui-sans-serif, system-ui,
      sans-serif;
    color: var(--color-text);
    font-size: var(--text-body2);
    letter-spacing: 0.04rem;

    ::-webkit-scrollbar {
      display: none;
    }
  }
}
